.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}
input {
  font-size: 1rem;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: .25rem;
  margin-top: 1rem;
}
.item {
  border: 1px solid black;
  background-color: white;
  padding: .5rem;
}
.item > .header {
  margin-bottom: .25rem;
  margin-left: 10px
}
.item > .body {
  font-size: .8rem;
  color: #777;
  margin-left: 10px;
}

.hide {
  display: none;
}

body {
  width: 100%;
  height: 100vh;
  background: #EEEEEE;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  width: 41%;
  height: 70%;
  background: #F7F7F7;
  border-radius: 15px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.06);
  padding: 2%;
  overflow-y: scroll;
  margin: auto;
  margin-left: 3%;
  justify-content: center;
}
.container::-webkit-scrollbar{
  display: none;
}
.container form {
  width: 100%;
  border: 1px solid rgb(82, 74, 235);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container form input {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 10px;
}
.container form i {
  padding-left: 10px;
  padding-right: 10px;
}

.information {
  width: 41%;
  height: 70%;
  background: white;
  border-radius: 15px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.06);
  padding: 2%;
  overflow-y: scroll;
  margin: auto;
  margin-right: 3%;
  justify-content: center;
}
.information > .header {
  text-align: center;
  font-size: 24px;
}
.information > .amount {
  margin-top: 4%;
  margin-left: 8%;
}
.information > .location {
  margin-top: 4%;
  margin-left: 8%;
}
.information > #info-website {
  display: block;
  margin-top: 4%;
  margin-left: 8%;
}
.information > .description {
  margin-top: 4%;
  margin-left: 8%;
}
.information > #info-image {
  margin-left: 4%;
  margin-top: 4%;
  max-width: 200px;
  width: auto;
  max-height: 200px;
  height: auto;
}
@media only screen and (max-width: 600px) {
  .information > #info-image {
    max-width: 92%;
    max-height: 92%;
  }
}

.add-item {
  width: 41%;
  height: 70%;
  background: #F7F7F7;
  border-radius: 15px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.06);
  padding: 2%;
  overflow-y: scroll;
  margin: auto;
  margin-right: 3%;
  justify-content: center;
}

.add-item > .header {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #1e1e1e;
}

.add-item > .name {
  margin-top: 4%;
  margin-left: 6%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.add-item > .name > input {
  border: 2px solid #1e1e1e;
  border-radius: 5px;
  margin-left: 8px;
  height: auto;
  padding: 5px;
}
.add-item > .name > input::placeholder {
  color: #777;
}

.add-item > .amount {
  margin-top: 3%;
  margin-left: 6%;
  display: flex;
  align-items: center;
  position: relative;
}
.add-item > .amount > input {
  border: 2px solid #1e1e1e;
  border-radius: 5px;
  margin-left: 8px;
  height: auto;
  max-width: 25px;
  text-align: center;
  padding: 5px;
}
.add-item > .amount > input::placeholder {
  color: #777;
}
.add-item > .amount > input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.add-item > .amount > .arrow-container {
  position: absolute;
  right: 0;
  left: 45px;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.add-item > .amount > .arrow-container > .arrow-up, .arrow-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px  8px 6px;
  border-color: transparent transparent #555 transparent;
  margin: 2px;
  cursor: pointer;
  display: block;
}
.add-item > .amount > .arrow-container > .arrow-down {
  transform: rotate(180deg);
}
.add-item > .amount > .arrow-container > .arrow-up:hover, .arrow-down:hover {
  border-color: transparent transparent black transparent;
}

.add-item > .location {
  margin-top: 3%;
  margin-left: 6%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.add-item > .location > input {
  border: 2px solid #1e1e1e;
  border-radius: 5px;
  margin-left: 8px;
  height: auto;
  padding: 5px;
}
.add-item > .location > input::placeholder {
  color: #777;
}

.add-item > .order {
  margin-top: 3%;
  margin-left: 6%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.add-item > .order > input {
  border: 2px solid #1e1e1e;
  border-radius: 5px;
  margin-left: 8px;
  height: auto;
  padding: 5px;
}
.add-item > .order > input::placeholder {
  color: #777;
}

.add-item > .description {
  margin-top: 3%;
  margin-left: 6%;
  display: flex;
  align-items: center;
}
.add-item > .description > textarea { 
  border: 2px solid #1e1e1e;
  border-radius: 5px;
  margin-left: 8px;
  width: 84%;
  height: 72px;
  padding: 5px;
  font-size: 1rem;
}
.add-item > .description > textarea::placeholder {
  color: #777;
}

.add-item > .image {
  margin-top: 3%;
  margin-left: calc(6% + 8px);
  background-color: #ffffff;
  width: 80%;
  height: 25%;
  position: relative;
  border-radius: 5px;
  border: 2px solid #1e1e1e;
}
.add-item > .image > input {
  display: none;
}
.add-item > .image > label {
  background-color: #025bee;
  color: #ffffff;
  font-size: 18px;
  width: 25%;
  height: 70%;
  position: absolute;
  top: 45%;
  transform: translate(10%, -50%);
  border-radius: 5px;
  cursor: pointer;
  display: grid;
  place-items: center;
  text-align: center;
}
.add-item > .image > label > p {
  place-items: center;
  text-align: center;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #1e1e1e;
  font-weight: 525;
  width: 90%;
}
.add-item > .image > p {
  position: absolute;
  bottom: -10px;
  left: 17px;
}
.add-item > .image > #images {
  width: 65%;
  height: 90%;
  border: 0px solid #1e1e1e;
  position: relative;
  top: 45%;
  transform: translate(48%, -42%);
  display: flex;
  flex-direction: row;
  overflow: scroll;
}
.add-item > .image > #images::-webkit-scrollbar {
  display: none;
}
.add-item > .image > #images > figure {
  width: 90%;
  object-fit: contain;
  margin: 5px;
}
.add-item > .image > #images > img {
  width: 100%;
  object-fit: contain;
}
.add-item > .image > figcaption {
  text-align: center;
  font-size: 2.4vmin;
  margin-top: 0.5vmin;
}

.add-item > .submit {
  text-align: center;
  height: 8%;
  overflow: contain;
}
.add-item > .submit > button {
  margin-top: 3%;
  align-items: center;
  height: 90%;
  width: 25%;
  font-size: 18px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #1e1e1e;
  background-color: #ffffff;
  border: 2px solid #1e1e1e;
  border-radius: 5px;
}
.add-item > .submit > button:hover {
  background-color: #1e1e1e;
  color: #ffffff;
}